.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio_item {
  background: var(--color-light);
  padding: 1.3rem;
  border-radius: 1rem;
  box-shadow: 10px 8px 9px -1px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 10px 8px 9px -1px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 10px 8px 9px -1px rgba(0, 0, 0, 0.43);
  transition: var(--transition);
}
.portfolio_item:hover {
  box-shadow: 6px 5px 19px 0px rgba(31, 25, 25, 0.75) inset;
  -webkit-box-shadow: 6px 5px 19px 0px rgba(31, 25, 25, 0.75) inset;
  -moz-box-shadow: 6px 5px 19px 0px rgba(31, 25, 25, 0.75) inset;
}

.light .portfolio_item:hover {
  box-shadow: 6px 5px 19px 0px rgb(252, 249, 249) inset;
  -webkit-box-shadow: 6px 5px 19px 0px rgba(237, 223, 223, 0.973) inset;
  -moz-box-shadow: 6px 5px 19px 0px rgba(244, 237, 237, 0.957) inset;
}

.portfolio_item img {
  border-radius: 1rem;
  overflow: hidden;
}
.portfolio_item h3 {
  margin: 1.2rem 0 2rem;
  color: var(--color-primary-variant);
  text-align: center;
}
.portfolio_item_cta {
  display: flex;
  justify-content: space-around;
  gap: 1;
  margin-bottom: 1rem;
}

.portfolio_item_cta .btn:hover {
  background: var(--color-bg);
  color: var(--color-light);
}
.portfolio_item_cta .btn-primary:hover {
  background: var(--color-light);
  color: var(--color-bg);
}

/* MEDIUM DEVICES - MEDIA QUERIES */

@media screen and (max-width: 1300px) {
  .portfolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  .portfolio_item_cta .btn-primary {
    margin-left: 2rem;
  }
}

/* SMALL DEVICES - MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
