.about {
  background: var(--color-primary);
  padding-top: 5rem;
  margin-top: 0;
}

.about_container {
  display: grid;
  grid-template-columns: 35% 80%;
}

.about_me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-light),
    transparent
  );
  display: grid;
  place-items: center;
}
.about_me_image {
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}
.about_me_image:hover {
  transform: rotate(0);
}

.about h2 {
  color: var(--color-bg);
}

.about_content {
  margin: 2rem 6rem 0;
  color: var(--white);
}
.about_pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about_pictures img {
  width: 10rem;
  margin: 5rem 1.5rem;
  border: solid 6px var(--color-light);
  border-radius: 0.5rem;
  box-shadow: 10px 8px 9px -1px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 10px 8px 9px -1px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 10px 8px 9px -1px rgba(0, 0, 0, 0.43);
}

/* MEDIUM DEVICES - MEDIA QUERIES */

@media screen and (max-width: 1300px) {
  .about_container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about_me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about_content p {
    margin: 1rem 0 1.5rem;
  }
  .about_pictures img {
    margin: 2rem;
  }
}

/* SMALL DEVICES - MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .about_me {
    width: 75%;
    margin: 0 auto;
  }
  .about_content {
    text-align: center;
    width: 100%;
    margin: 2rem auto;
  }
  .about_pictures img {
    margin: 0 1rem 2rem 1rem;
  }
}
