.container.contact_container {
  width: 75%;
  display: grid;
  grid-template-columns: 50% 38%;
  gap: 10%;
}

.contact_regard h4 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.contact_regard a {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.envelope_icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
/* FORM */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
form .btn {
  background: transparent;
  font-size: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary);
  resize: none;
  color: var(--color-primary-variant);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}

/* MEDIUM DEVICES - MEDIA QUERIES */

@media screen and (max-width: 1300px) {
  .container.contact_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* SMALL DEVICES - MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .container.contact_container {
    width: var(--container-width-sm);
  }
}
