header {
  height: 100vh;

  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  /* position: hidden; */
  display: flex;
}

/* HEADER TITLE */
.header_title {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Anton", sans-serif;
  font-size: 8rem;
  line-height: 8rem;
}
.header_title h5 {
  font-size: 5rem;
}

/* NAME ANIMATION */
.name span {
  cursor: pointer;
  display: inline-block;
  color: var(--color-primary);
}
/* E */
.name span:nth-child(1) {
  animation: balance 1.5s ease-out;
  transform-origin: bottom left;
  animation-delay: 2s;
}

@keyframes balance {
  0%,
  100% {
    transform: rotate(0deg);
  }

  30%,
  60% {
    transform: rotate(-45deg);
  }
}

/* L */
.name span:nth-child(2) {
  animation: shrink 1s ease-in-out;
  transform-origin: bottom center;
  animation-delay: 2.5s;
}

@keyframes shrink {
  35% {
    transform: scale(2, 0.2) translate(0, 0);
  }

  45%,
  50% {
    transform: scale(1) translate(0, -20px);
  }

  80% {
    transform: scale(1) translate(0, 0);
  }
}
/* I */
.name span:nth-child(3) {
  animation: wobble-hor-bottom 1s ease-in-out;
  transform-origin: bottom center;
  animation-delay: 3s;
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform: translateX(0%);
    transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

/* A */
.name span:nth-child(4) {
  animation: scale-up-center 1s ease-in-out;
  transform-origin: bottom center;
  animation-delay: 3.5s;
}

@keyframes scale-up-center {
  20% {
    transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    transform: scale(1);
  }
}
/* N */
.name span:nth-child(5) {
  animation: rotate 1s ease-out;
  animation-delay: 4s;
}

@keyframes rotate {
  20%,
  80% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

/* A */
.name span:nth-child(6) {
  animation: balanceA 1.5s ease-out;
  transform-origin: bottom right;
  animation-delay: 4.5s;
}

@keyframes balanceA {
  0%,
  100% {
    transform: rotate(0deg);
  }

  30%,
  60% {
    transform: rotate(45deg);
  }
}

.name span:hover {
  /* animation: hovere 1s ease-in-out;
  transform-origin: bottom center; */
  color: rgb(149, 247, 247);
}

/* @keyframes hovere {
  35% {
    transform: scale(2, 0.2) translate(0, 0);
  }

  45%,
  50% {
    transform: scale(1) translate(0, -10px);
  }

  80% {
    transform: scale(1) translate(0, 0);
  } */
/* } */

/* HEADER DISPLAY */
.header_display {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CTA */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* HEADER SOCIAL */

.social {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  left: 2rem;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  bottom: 3rem;
}

.social::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ME */
.me {
  width: 100%;
  height: 50%;
  background: url(https://res.cloudinary.com/dfwupsfxv/image/upload/v1671787518/CVPHOTO_krha1z.png);
  background-repeat: no-repeat;
  background-position: center;
}
.me:hover {
  animation: flip-vertical-fwd 2s ease-in-out;
  animation-fill-mode: forwards;
  width: 100%;
  height: 50%;
  background: url(https://res.cloudinary.com/dfwupsfxv/image/upload/v1671792807/CVPHOTOCARTOON400_w7oc6d.png);
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes flip-vertical-fwd {
  0% {
    transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
  100% {
    transform: translateZ(160px) rotateY(180deg);
    transform: translateZ(160px) rotateY(180deg);
  }
}

/* SCROLL DOWN */

.scroll_down {
  position: absolute;
  right: -0.1rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* MEDIUM DEVICES - MEDIA QUERIES */

@media screen and (max-width: 1300px) {
  .header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header_title {
    width: 100%;
    align-items: center;
  }
  .header_display {
    width: 100%;
  }
  .me {
    width: 25rem;
    height: 25rem;
    background: url(https://res.cloudinary.com/dfwupsfxv/image/upload/v1671787518/CVPHOTO_krha1z.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .me:hover {
    animation: flip-vertical-fwd 1s ease-in-out;
    animation-fill-mode: forwards;
    width: 25rem;
    height: 25rem;
    background: url(https://res.cloudinary.com/dfwupsfxv/image/upload/v1671792807/CVPHOTOCARTOON400_w7oc6d.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  @keyframes flip-vertical-fwd {
    0% {
      transform: translateZ(0) rotateY(0);
      transform: translateZ(0) rotateY(0);
    }
    100% {
      transform: translateZ(160px) rotateY(180deg);
      transform: translateZ(160px) rotateY(180deg);
    }
  }
}

/* SMALL DEVICES - MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header_social,
  .scroll_down {
    display: none;
  }
  .header_title {
    font-size: 5rem;
    line-height: 4.5rem;
  }

  .header_title h5 {
    font-size: 3rem;
  }

  .me {
    width: 15rem;
    height: 15rem;
    background: url(https://res.cloudinary.com/dfwupsfxv/image/upload/v1671789086/CVPHOTO200_rrfu8h.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .me:hover {
    animation: flip-vertical-fwd 1s ease-in-out;
    animation-fill-mode: forwards;
    width: 15rem;
    height: 15rem;
    background: url(https://res.cloudinary.com/dfwupsfxv/image/upload/v1671792806/CVPHOTOCARTOON200_de3wys.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  @keyframes flip-vertical-fwd {
    0% {
      transform: translateZ(0) rotateY(0);
      transform: translateZ(0) rotateY(0);
    }
    100% {
      transform: translateZ(160px) rotateY(180deg);
      transform: translateZ(160px) rotateY(180deg);
    }
  }
}
